dp(value)
    value = value * 1px
    @media screen and (min-resolution: 0.75dppx)
        value = value * 0.75
    @media screen and (min-resolution: 1dppx)
        value = value * 1
    @media screen and (min-resolution: 1.5dppx)
        value = value * 1.5
    @media screen and (min-resolution: 2dppx)
        value = value * 2
    @media screen and (min-resolution: 3dppx)
        value = value * 3
    @media screen and (min-resolution: 4dppx)
        value = value * 4
    value

screen(minWidth, maxWidth)
    @media screen and (min-width: dp(minWidth)) and (max-width: dp(maxWidth))
        {block}

screen-portrait(minWidth, maxWidth)
    @media (orientation: portrait)
        +screen(minWidth, maxWidth)
            {block}

screen-landscape(minWidth, maxWidth)
    @media (orientation: landscape)
        +screen(minWidth, maxWidth)
            {block}

min-screen(minWidth)
    @media screen and (min-width: dp(minWidth))
        {block}

min-screen-portrait(minWidth)
    @media (orientation: portrait)
        +min-screen(minWidth)
            {block}

min-screen-landscape(minWidth)
    @media (orientation: landscape)
        +min-screen(minWidth)
            {block}

max-screen(maxWidth)
    @media screen and (max-width: dp(maxWidth))
        {block}

max-screen-portrait(maxWidth)
    @media (orientation: portrait)
        +max-screen(maxWidth)
            {block}

max-screen-landscape(maxWidth)
    @media (orientation: landscape)
        +max-screen(maxWidth)
            {block}
